:root {
	--border-color: #e2e8f0;
	--shadow-color: rgba(0, 0, 0, 0.26);

	--toast-bg: #ffffff;
	--toast-color: #000000;
	--toast-border-color: #fff;

	--canvas-color: 229 229 229;
	--card-color: 255 255 255;
	--popup-color: 255 255 255;
	--divider-color: 212 212 212;
	--content-color: 0 0 0;
	--primary-color: 102 51 153;
	--primary-light-color: 246 173 85;
}

@media (prefers-color-scheme: dark) {
	:root {
		--border-color: rgba(255, 255, 255, 0.16);
		--shadow-color: rgba(0, 0, 0, 1);

		--toast-bg: #3c3c3b;
		--toast-color: #ffffff;
		--toast-border-color: #51504f;

		--canvas-color: 24 24 24;
		--card-color: 37 37 37;
		--popup-color: 46 46 46;
		--divider-color: 34 34 34;
		--content-color: 255 255 255;
		--primary-color: 176 112 241;
		--primary-light-color: 246 173 85;
	}

	input[type="date"] {
		color-scheme: dark;
	}
}
* {
	border-color: var(--border-color);
}
